@model Inventory_Management_Systems.Models.tblAccountHead

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>tblAccountHead</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="accountHeadName" class="control-label"></label>
                <input asp-for="accountHeadName" class="form-control" />
                <span asp-validation-for="accountHeadName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account_Head_Code" class="control-label"></label>
                <input asp-for="account_Head_Code" class="form-control" />
                <span asp-validation-for="account_Head_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
