@model Inventory_Management_Systems.Models.tblCompany

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-center py-3"><strong>Create New Company</strong></h4>


<hr />
<form asp-action="Create">
    <div class="row col-md-12">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CompanyrCode" class="control-label"></label>
                <input asp-for="CompanyrCode" class="form-control" />
                <span asp-validation-for="CompanyrCode" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Company Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" hidden>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
     
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-sm" style="margin-top:32px;" />
                <a asp-action="Index" class="btn btn-primary btn-sm " style="margin-top:32px;">Back to List</a>
            </div>
        </div>

    </div>
</form>



