@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Home/Index" class="brand-link text-center">
      
        <span class="brand-text font-weight-bold text-center">Butt Cash & Carry MS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Ali</a>
            </div>
        </div>




        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @* Dashboard Start *@
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link ">
                        &nbsp; <i class="fas fa-tachometer-alt"></i>&nbsp;  Dashboard
                    </a>
                </li>
                @* Dashboard End *@

                @* Category Start *@
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        &nbsp; <i class="fas fa-dot-circle"></i>
                        <p>
                            Company
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="tblCompanies" asp-action="Create" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Add New Company</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CompanyDetails" asp-action="Company" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Add Company Detail </p>
                            </a>
                        </li>

                    </ul>

                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        &nbsp; <i class="fas fa-list-ul"></i>
                        <p>
                            Category
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Category" asp-action="Create" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Add New Category</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Category" asp-action="Index" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>View/Update/Delete </p>
                            </a>
                        </li>

                    </ul>

                </li>

                @* Category End *@
                @* Product Start *@
                <li class="nav-item">
                    <a asp-action="item" asp-controller="Item" class="nav-link">
                        &nbsp; <i class="fas fa-cubes"></i>
                        <p>
                            Product

                        </p>
                    </a>
                </li>
                @* Product End *@
                @* Unit Start *@
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        &nbsp; <i class="fas fa-balance-scale"></i>
                        <p>
                            Unit
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="ItemUnits" asp-action="Create" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Add New Unit</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="ItemUnits" asp-action="Index" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>View/Update/Delete </p>
                            </a>
                        </li>

                    </ul>

                </li>

                @* Unit End *@
                @* Account Start *@
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Account
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/Accounts/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Account Head Detail
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="AccountHeads" asp-action="Create" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Add New Account Head</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="AccountHeads" asp-action="Index" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>View/Update/Delete </p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Account Detail
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Accounts/Index" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Add New Account</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Accounts/Index" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>View/Update/Delete</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </li>
                @* Account End *@  
                @* Report Start *@
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-file-alt"></i>
                        <p>
                            Report
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-file nav-icon"></i>
                                <p>
                                    Product
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="#" asp-action="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Category Wise Report</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="#" asp-action="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Product Wise Report </p>
                                    </a>
                                </li> 
                                <li class="nav-item">
                                    <a asp-controller="#" asp-action="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Product & Category Wise  </p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-file nav-icon"></i>
                                <p>
                                    Sale & Purchase
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Sale Report</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Purchase Report</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </li>
                @* Report End *@
                @* Logout Start *@
                <li class="nav-item">
                    <a asp-action="item" asp-controller="Item" class="nav-link">
                        &nbsp; <i class="fas fa-sign-out-alt"></i>
                        <p>
                            Logout

                        </p>
                    </a>
                </li>
                @* Logout End *@

            </ul>



        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>