@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>INV MS</title>

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome Icons -->
<link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link href="~/plugins/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />
<!-- Theme style -->
<link href="https://mdbootstrap.com/docs/standard/forms/select/" />
<link href="~/dist/css/adminlte.min.css" rel="stylesheet" />

<link href="~/plugins/DataTables-1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />
@*<link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />*@
<link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" />
<link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/plugins/select2/js/select2.min.js"></script>
<script src="~/plugins/select2/js/select2.full.min.js"></script>
<script src="~/plugins/toastr/toastr.min.js"></script>


