@model Inventory_Management_Systems.Models.tblItem

@{
    ViewData["Title"] = "Create";
}


<h4 class="text-center">Add New Item</h4>
<hr />

<div class="row">
    <div class="col-md-12">
       
        <form asp-action="Create">
            <div class="form-group">

                
                <button class="btn btn-default btn-xs" asp-controller="Home" asp-action="Index"><i class="fas fa-home"> Dashboard</i> </button>
                <button class="btn btn-secondary btn-xs" asp-action="Index"><i class="fas fa-arrow-alt-circle-left"> Back to List</i> </button>
                <button class="btn btn-success btn-xs" type="submit" id="save"><i class="fa fa-save"> Save</i></button>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row col-md-12 container-fluid ">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="catId" class="control-label"></label>
                        <select asp-for="catId" class="form-control cat" asp-items="ViewBag.catId">
                            <option value="0">--Select Item Category--</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="ItemCode" class="control-label"></label>
                        <input asp-for="ItemCode" class="form-control" />
                        <span asp-validation-for="ItemCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="itemName" class="control-label"></label>
                        <input asp-for="itemName" class="form-control" />
                        <span asp-validation-for="itemName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="UnitId" class="control-label"></label>
                        <select asp-for="UnitId" class="form-control unit" asp-items="ViewBag.UnitId">
                            <option value="0">--Select Item Unit--</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row col-md-12 ">

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="purchase_Price" class="control-label"></label>
                        <input asp-for="purchase_Price" class="form-control" />
                        <span asp-validation-for="purchase_Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="sale_Price" class="control-label"></label>
                        <input asp-for="sale_Price" class="form-control" />
                        <span asp-validation-for="sale_Price" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('.cat,.unit').select2();
    });



</script>
