@*@model Inventory_Management_Systems.Models.tblAccount*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Add New Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              

                <form asp-action="Create">
                    <div class="form-group">

                        <i class="fa fa-save btn btn-success btn-xs"><input type="submit" value="Save" class="btn btn-success btn-xs " /></i>
                    </div>
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

                    <div class="row col-md-12 ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Account Head Name</label>
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Account Code</label>
                                <input class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12 ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Account Title</label>
                                <input class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Phone No</label>
                                <input class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row col-md-12 ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Mobile No</label>
                                <input class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12 ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <input class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        </div>

                </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
